.movies-list {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin-inline: auto;
}

.movies-list__holder {
  padding: 0;
  margin-block: 50px 60px;
  list-style-type: none;
  display: grid;
  grid-gap: 34px;
}

.movies-list__action {
  border: none;
  padding: 0;
  width: 240px;
  height: 36px;
  border-radius: 6px;
  background-color: #2f2f2f;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-inline: auto;
  margin-block-end: 80px;
  transition: opacity 0.4s ease-in;
  cursor: pointer;
}

.movies-list__action:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .movies-list {
    max-width: 708px;
  }

  .movies-list__holder {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-block-start: 80px;
  }

  .movies-list__action {
    width: 320px;
    margin-block-end: 81px;
  }
}

@media (min-width: 1280px) {
  .movies-list {
    max-width: 1140px;
  }

  .movies-list__holder {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 38px 20px;
  }
}
