.movies-card__image {
  width: 300px;
  height: 168px;
  object-fit: cover;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 6px 25px;
  border-block-end: 1px solid #424242;
}

.movies-card__name {
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-height: 1rem;
}

.movies-card__action {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  transition: opacity 0.4s ease-in;
}

.movies-card__action:hover {
  opacity: 0.7;
}

.movies-card__duration {
  margin-block: 6px 0;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .movies-card__image {
    width: 339px;
    height: 190px;
  }

  .movies-card__duration {
    font-size: 11px;
  }
}

@media (min-width: 1280px) {
  .movies-card__image {
    width: 270px;
    height: 151px;
  }
}
